﻿@{
    ViewBag.Title = "Fizz Buzz List";
    var fizzBuzzList = (List<string>)ViewBag.Data;
}

<html>
<head>
    <link href="~/Content/FizzBuzz.css" rel="stylesheet" />
</head>
<body>
    <fieldset>
        <legend>Fizz Buzz List</legend>
        @foreach (var item in fizzBuzzList)
        {
            <ul>
                @Html.Label(item, item, new { @class = item })
            </ul>
        }
        @Html.ActionLink("Fizz Buzz Home", "FizzBuzz", "FizzBuzz")
    </fieldset>
</body>
</html>
